body{
    margin: 0;
    height: 200vh;
}

.div-scroll{
    width: 100%;
    height: 50vh;
    overflow: scroll;
}

::-webkit-scrollbar{
    width: 15px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: lightcoral;
    border-radius: 10px;
}