body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel{
    height: 500px;
    width: 700px;
    overflow: hidden;
    border-radius: 5%;
}

.slide{
    display: flex;
}

img{
    height: 500px;
    width: 700px;
}